.card{
    overflow: hidden;
    border-radius: 20px;
    width: 300px;
}
.card .card-head{
    color: var(--white);
    height: 75px;
    background-color: var(--primary-variant-2);
}
.card .card-body{
    color: var(--black);
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.4),rgba(100,100,100,0));
    padding: 10px;
    position: absolute;
    opacity: 0;
    bottom: -100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition-duration: 1s;
}
.card:hover .card-body{
    color: var(--black);
    height: 100%;
    padding: 10px;
    position: absolute;
    opacity: 1;
    bottom: 0%;
}
.card .card-body a{
    padding: 0px;
    margin: 4px;
    color: var(--black);
}
.card .card-footer button{
    border: 0;
    background-color: var(--secondary-variant-1);
    color: var(--white);
    font-weight: bold;
    width: 100px;
    padding: 5px;
}

