 .login-section{
    background-color: var(--white);
    height: 100%;
}
.login-section .container{
    background-color: var(--white);
    min-height: 55%;
}
.login-section h3{
    height: 15%;
    width: 100%;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    margin: 0;
}
.form-style{
    margin: 50px;
}
@media (max-width : 767px){
    .form-style{
        width: 100%;
    }
}




.btn:focus {
    transition: 1s;
    box-shadow: none;
    filter: saturate(0.7);
    
}
.btn:focus ::before {
    content:'dfdf'    
}
.login-section form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.login-section input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    outline: none;
    width: 100%;
}

.login-section .container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.login-section .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.login-section .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.login-section .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.login-section .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.login-section .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.login-section .forgot-password {
    transition: letter-spacing .3s ease-in-out;
}

.login-section .forgot-password:hover {
    letter-spacing: 1px;
}

.login-section .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.login-section .container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}

.login-section .overlay {
    background: var(--primary-variant-1);
    background: -webkit-linear-gradient(to right, var(--primary-variant-2), var(--primary-darken-color));
    background: linear-gradient(to right, var(--primary-variant-2), var(--primary-darken-color));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.login-section .container.right-panel-active .overlay {
    transform: translateX(50%);
}

.login-section .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.login-section .overlay-left {
    transform: translateX(-20%);
}

.login-section .container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.login-section .overlay-right {
    right: 0;
    transform: translateX(0);
}

.login-section .container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.login-section .social-container {
    margin: 20px 0;
}

.login-section .social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}
